#box {
    height: 50px;
    width: 200px;
    border: 2px solid black;
    justify-content: center;
    background-color: white;
    display: flex;
}

#selector {
    padding: 1px;
    height: 46px;
    width: 46px;
    border: 1px solid white;
    position: relative;
    left: 0px;
    top: 0px;
}
