body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.position {
  transform: translate(0px, 0px);
}

.scaler {
  transform: scale(1);
  image-rendering: pixelated;
}

#canvas {
  width: 1000px;
  height: 1000px;
}